<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MustHaveJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>INIT_PARAM</param-name>
    <param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/02ImplicitObject/Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/02ImplicitObject/Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/02ImplicitObject/Exception.jsp</location>
  </error-page>
  <context-param>
    <param-name>OracleDriver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>OracleURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>OracleId</param-name>
    <param-value>musthave</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <filter>
    <filter-name>SetCharEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <context-param>
		<param-name>POSTS_PER_PAGE</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>PAGES_PER_BLOCK</param-name>
		<param-value>5</param-value>
	</context-param>
  <servlet>  <!-- 서블릿 등록 -->
		<servlet-name>HelloServlet</servlet-name>	<!-- 서블릿 참조할 때 사용할 이름 -->
		<servlet-class>servlet.HelloServlet</servlet-class>	<!-- 서블릿을 패키지포함 명시 -->
	</servlet>	
	<servlet-mapping>   <!-- 서블릿과 요청명(요청 URL) 매핑 -->
		<servlet-name>HelloServlet</servlet-name>	<!-- <servlet>에서 사용할 이름과 동일 -->
		<url-pattern>/12Servlet/HelloServlet.do</url-pattern>	<!-- 요청명으로 사용할 경로 -->
	</servlet-mapping>
  <servlet>  
		<servlet-name>DirectServletPrint</servlet-name>	
		<servlet-class>servlet.DirectServletPrint</servlet-class>	
	</servlet>	
	<servlet-mapping>   
		<servlet-name>DirectServletPrint</servlet-name>			
		<url-pattern>/12Servlet/DirectServletPrint.do</url-pattern>	
	</servlet-mapping>
  <servlet>  
		<servlet-name>MemberAuth</servlet-name>	
		<servlet-class>servlet.MemberAuth</servlet-class>
		<init-param>
			<param-name>admin_id</param-name>
			<param-value>yuna</param-value>
		</init-param>	
	</servlet>	
	<servlet-mapping>   
		<servlet-name>MemberAuth</servlet-name>			
		<url-pattern>/12Servlet/MemberAuth.mvc</url-pattern>	
	</servlet-mapping>
  	<servlet>
		<servlet-name>MVCBoardList</servlet-name> <!-- 서블릭 이름 -->
		<servlet-class>model2.mvcboard.ListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCBoardList</servlet-name>
		<url-pattern>/mvcboard/list.do</url-pattern> <!-- 요청명 -->
	</servlet-mapping>
	
	
	<!-- 글쓰기로 진입하기 위한 매핑 (예제 14-7) -->
	<servlet>
    <servlet-name>MVCBoardWrite</servlet-name>
    <servlet-class>model2.mvcboard.WriteController</servlet-class>
	    <multipart-config>
	      <max-file-size>1048576</max-file-size> <!-- 개별파일 최대 크기 : 1MB -->
	      <max-request-size>10485760</max-request-size> <!-- 전체 파일 최대 크기 : 10MB -->
	    </multipart-config>
	</servlet>  
  	<servlet-mapping>
    	<servlet-name>MVCBoardWrite</servlet-name>
    	<url-pattern>/mvcboard/write.do</url-pattern>
	</servlet-mapping>
</web-app>